@import "reset";
@import "base";
@import "header";
@import "footer";
@import "keyframes";
@import 'popup';
@import "fixlinks";
@import "js-animate";
@import "loading";

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  background-color: #f4efe9;
}

section.main {
  width: 100%;
  position: relative;
}

.wrapper {
  width: 100%;
  position: relative;
  background-image: url(../img/kv/line.svg);
  background-size: 1920px 100%;
  background-repeat: no-repeat;
  background-position: center center;
  @include breakpoint(sm){
    background-size: vwm(1920px) 100%;
    background-position: center vwm(350px);
  }
  &__container {
    max-width: 1024px;
    margin: 114px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    @include breakpoint(md){
      margin: vw(142px) auto;
    }
    @include breakpoint(sm){
      margin-top: vwm(142px);
      flex-direction: column-reverse;
    }
  }
  &__kv {
    margin-left: -88px;
    max-width: 584px;
    @include breakpoint(md){
      margin-left: vw(-110px);
      max-width: vw(730px);
    }
    @include breakpoint(sm){
      margin-left: 0;
      margin-top: vwm(37px);
      max-width: vwm(719px);
    }
  }
  &__title {
    display:flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint(sm){
      margin-top: vwm(45px);
    }
    h1{
      position: absolute;
      text-indent: -9999px;
      top: 0;
      left: 0;
      overflow: hidden;
    }
    //-抽台積
    .title1 {
      max-width: 395px;
      margin-top: -8px;
      @include breakpoint(md){
        max-width: vw(494px);
        margin-top: vw(-8px);
      }
      @include breakpoint(sm){
        max-width: vwm(520px);
        margin-top: vwm(-8px);
      }
    }
    //新朋友專屬
    .title2 {
      max-width: 280px;
      margin-top: -12px;
      margin-left: -40px;
      position: relative;
      @include breakpoint(md){
        max-width: vw(350px);
        margin-top: vw(-12px);
        margin-left: vw(-40px);
      }
      @include breakpoint(sm){
        max-width: vwm(368px);
      }
    }
    //-即日起至
    .title3 {
      max-width: 289px;
      margin-left: -120px;
      @include breakpoint(md){
        max-width: vw(362px);
        margin-left: vw(-120px);
      }
      @include breakpoint(sm){
        max-width: vwm(382px);
      }
    }
  }
  &__circuit{
    position: absolute;
    z-index: -3;
    &.circuit1 {
      top: -40px;
      left: -113px;
      @include breakpoint(md){
        max-width: vw(423px);
        top: vw(-40px);
        left: vw(-113px);
      }
      @include breakpoint(sm){
        max-width: vwm(422px);
        left: vwm(-200px);
      }
    }
    &.circuit2 {
      bottom: -120px;
      right: -20px;
      @include breakpoint(md){
        max-width: vw(479px);
        bottom: vw(-120px);
        right: vw(-20px);
      }
      @include breakpoint(sm){
        max-width: vwm(478px);
        right: vwm(-200px);
        top: vw(470px);
      }
    }
  }
}


$star: (
  6: (top: 217px, right: 238px),
  7: (top: 634px, left: 210px),
  8: (bottom: 880px, left: 129px),
  9: (bottom: 343px, right: 233px)
);
$circles: (
  1: (max-width: 343px, left: -120px, top: 800px),
  2: (max-width: 437px, left: -164px, bottom: 194px),
  3: (max-width: 321px, right: -112px, top: 509px),
  4: (max-width: 186px, right: 300px, bottom: 800px),
  5: (max-width: 323px, right: -164px, bottom: 482px)
);
.sec1 {
  background-image: url(../img/sec1/bg.svg?v=20250328);
  background-size: 2560px 1940px;
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  z-index: 0;
  position: relative;
  @include breakpoint(md){
    margin-top: vw(90px);
    background-size: vw(2560px) vw(2450px);
  }
  @include breakpoint(sm){
    margin-top: vwm(90px);
    background-size: cover;
  }
  &__wrapper {
    @each $index, $values in $circles {
      &-#{$index} {
        position: absolute;
        z-index: -2;
        $randomDelay: random(1000) / 1000 + s;
        animation: fadeIn 2s ease-in #{$randomDelay} forwards,
                   float-slow 7s ease-in-out infinite #{$randomDelay};
        @each $prop, $value in $values {
          #{$prop}: $value;
        }
        @include breakpoint(md){
          @each $prop, $value in $values {
            #{$prop}: vw($value);
          }
        }
      }
    }
    @each $index, $values in $star {
      &-#{$index} {
          position: absolute;
          max-width: 27px;
          z-index: -2;
          @each $prop, $value in $values {
            #{$prop}: $value;
          }
          @include breakpoint(md){
            max-width: vw(27px);
            @each $prop, $value in $values {
              #{$prop}: vw($value);
            }
          }
      }
    }
  }
  #kv-scroll {
    max-width: fit-content;
    margin: 62px auto 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint(md){
      margin: vw(78px) auto vw(20px);
    }
    @include breakpoint(sm){
      margin: vwm(78px) auto vwm(82px);
    }
    .scroll-img {
      max-width: 26px;
      animation: arrow2 1s ease-in-out infinite;
      margin-top: 12px;
      @include breakpoint(md){
        max-width: vw(30px);
        margin-top: vw(16px);
      }
      @include breakpoint(sm){
        max-width: vwm(45px);
        margin-top: vwm(16px);
      }
    }
    .scroll-text {
      font-weight: 500;
      color: #000;
      text-align: center;
      font-size: 16px;
      @include breakpoint(md){
        font-size: vw(20px);
      }
      @include breakpoint(sm){
        font-size: vwm(30px);
      }
    }
  }
  &__container {
    max-width: 1024px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 32px;
    @include breakpoint(md){
      padding: 0 vw(32px);
    }
    @include breakpoint(sm){
      padding: 0 vwm(32px);
    }
  }
  &__title {
    margin: 16px 0;
    position: relative;
    @include breakpoint(md){
      margin: vw(17px) 0;
    }
    .kv1title2_m {
      display: none;
      @include breakpoint(sm){
        display: block;
        max-width: vwm(420px);
      }
    }
    .kv1title1 {
      max-width: 320px;
      @include breakpoint(md){
        max-width: vw(419px);
      }
      @include breakpoint(sm){
        max-width: vwm(420px);
      }
    }
    .kv1title2 {
      max-width: 480px;
      @include breakpoint(md){
        max-width: vw(635px);
      }
      @include breakpoint(sm){
        display: none;
      }
    }
    &::after,
    &::before {
      content: "";
      position: absolute;
      background-image: url(../img/sec1/star.svg);
      background-size: contain;
      background-repeat: no-repeat;
      width: 32px;
      height: 32px;
      top: 50%;
      transform: translateY(-50%);
      @include breakpoint(md){
        width: vw(40px);
        height: vw(40px);
      }
      @include breakpoint(sm){
        width: vwm(60px);
        height: vwm(60px);
      }
    }
    &::after {
      left: 0;
      @include breakpoint(sm){
        left:vwm(-15px);
      }
    }
    &::before {
      right: 0;
      @include breakpoint(sm){
        right:vwm(-15px);
      }
    }
    h2 {
      position: absolute;
      text-indent: -9999px;
      top: 0;
      left: 0;
      overflow: hidden;
    }
  }
  &__date {
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    color: #000;
    display: flex;
    align-items: center;
    @include breakpoint(md){
      font-size: vw(28px);
    }
    @include breakpoint(sm){
      font-size: vwm(40px);
    }
    &--mt {
      margin-top: 12px;
      font-size: 32px;
      img {
        max-width: 32px;
      }
      @include breakpoint(md){
        margin-top: vw(17px);
        font-size: vw(40px);
        img {
          max-width: vw(40px);
        }
      }
      @include breakpoint(sm){
        margin-top: vwm(29px);
        font-size: vwm(40px);
        img {
          max-width: vwm(40px);
        }
      }
    }
    &--line {
      position: relative;
      &::after, &::before{
        content: "";
        position: absolute;
        width: 12px;
        height: 24px;
        top: 4px;
        @include breakpoint(md){
          width: vw(16px);
          height: vw(24px);
          top: vw(4px);
        }
        @include breakpoint(sm){
          width: vw(30px);
          height: vwm(30px);
          top: vwm(8px);
        }
      }
      &::after {
        background: url(../img/sec1/kv1_line1.svg);
        background-repeat: no-repeat;
        background-size: contain;
        left: -16px;
        @include breakpoint(md){
          left: vw(-16px);
        }
        @include breakpoint(sm){
          left: -10%;
        }
      }
      &::before{
        background: url(../img/sec1/kv1_line2.svg);
        background-repeat: no-repeat;
        background-size: contain;
        right: -16px;
        @include breakpoint(md){
          right: vw(-16px);
        }
        @include breakpoint(sm){
          right: -10%;
        }
      }
    }
  }
  &__content {
    border-radius: 20px;
    border:3px solid #000;
    background-color: #fff;
    margin: 24px 0 92px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    position: relative;
    @include breakpoint(md){
      border-radius: vw(20px);
      border:vw(3px) solid #000;
      margin: vw(42px) 0 vw(122px);
      padding: vw(40px);
    }
    @include breakpoint(sm){
      border-radius: vwm(20px);
      border:vwm(3px) solid #000;
      margin: vwm(59px) 0 vwm(120px);
      padding: vwm(40px);
    }
    h3 {
      text-indent: -999;
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      text-indent: 101%;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  &__cash {
    max-width: 220px;
    @include breakpoint(md){
      max-width: vw(400px);
    }
    @include breakpoint(sm){
      max-width: vwm(400px);
    }
  }
  &__warning {
    display: flex;
    margin-top: 8px;
    align-items: center;
    font-size: 16px;
    color: gray;
    line-height: 1.2;
    img {
      display: flex;
      max-width: 20px;
    }
    @include breakpoint(md){
      margin-top: vw(8px);
      font-size: vw(22px);
      img {
        max-width: vw(28px);
        // margin-right: vw(4px);
      }
    }
    @include breakpoint(sm){
      align-items: flex-start;
      margin-top: vwm(8px);
      font-size: vwm(24px);
      img {
        max-width: vwm(28px);
      }
    }
  }
  &__join {
    background-color: #000;
    width: 100%;
    font-size: 24px;
    color: #fff;
    text-align: center;
    padding: 16px 0;
    border-radius: 60px;
    font-weight: bold;
    margin-top: 20px;
    @include breakpoint(md){
      font-size: vw(32px);
      padding: vw(16px) 0;
      border-radius: vw(60px);
      margin-top: vw(28px);
    }
    @include breakpoint(sm){
      font-size: vwm(34px);
      margin-top: vwm(32px);
      padding: vwm(18px) 0;
      border-radius: vwm(70px);
    }
  }
  &__step {
    margin-top: 20px;
    width: 100%;
    display: flex;
    @include breakpoint(md){
      margin-top: vw(28px);
    }
    @include breakpoint(sm){
      flex-direction: column;
      margin-top: vwm(32px);
    }
  }
  &__web {
    flex: 1;
    border-right: 1px solid #544127;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint(sm){
      border-right: none;
      border-bottom: vwm(1px) solid #544127;
      margin-bottom: vwm(47px);
    }
  }
  &__app {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__text {
    font-size: 24px;
    font-weight: bold;
    @include breakpoint(md){
      font-size: vw(30px);
    }
    @include breakpoint(sm){
      font-size: vwm(34px);
    }
  }
  &__stepimg {
    max-width: 100px;
    margin: 8px 0;
    @include breakpoint(md){
      max-width: vw(150px);
      margin: vw(12px) 0;
    }
    @include breakpoint(sm){
      max-width: vwm(150px);
      margin: vwm(23px) 0;
    }
  }
  &__desc {
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    span {
      font-size: 20px;
    }
    @include breakpoint(md){
      font-size: vw(24px);
      span {
        font-size: vw(26px);
      }
    }
    @include breakpoint(sm){
      font-size: vwm(34px);
      margin-bottom: vwm(59px);
      span {
        font-size: vwm(36px);
      }
    }
  }
  &__info {
    width: 100%;
    margin-top: 20px;
    background-color: #F0F0F3;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
    border-radius: 16px;
    @include breakpoint(md){
      margin-top: vw(28px);
      border-radius: vw(20px);
      p {
        font-size: vw(24px);
      }
    }
    @include breakpoint(sm){
      margin-top: vwm(-36px);
      border-radius: vwm(10px);
      padding: vwm(20px) vwm(10px);
      p {
        font-size: vwm(30px);
      }
    }
    a {
      color: #C08800;
      display: inline-flex;
      align-items: center;
      font-size: 16px;
      img {
        max-width: 20px;
      }
      @include breakpoint(md){
        font-size: vw(20px);
        img {
          max-width: vw(26px);
        }
      }
      @include breakpoint(sm){
        font-size: vwm(26px);
        margin-top: vwm(18px);
        img {
          max-width: vwm(30px);
        }
      }
    }
  }
  &__infoimg {
    margin: 12px 0;
    margin-right: 12px;
    max-width: 80px;
    @include breakpoint(md){
      max-width: vw(100px);
      margin: vw(20px) 0;
      margin-right: vw(20px);
    }
    @include breakpoint(sm){
      max-width: vwm(80px);
      margin: vwm(20px) 0;
      margin-right: vwm(12px);
    }
  }
  &__button {
    margin: 20px 0;
    max-width: 243px;
    width: 100%;
    background: linear-gradient(180deg, #3A3A3A 0%, #353535 19%, #282828 36%, #121212 70%, #000000 100%);
    padding: 14px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    border-radius: 60px;
    font-size: 20px;
    @include breakpoint(md){
      margin: vw(28px) 0 vw(17px) 0;
      max-width: vw(304px);
      padding: vw(21px) 0;
      border-radius: vw(60px);
      font-size: vw(24px);
    }
    @include breakpoint(sm){
      margin: vwm(32px) 0 0 0;
      max-width: vwm(386px);
      padding: vwm(20px) 0;
      font-size: vwm(36px);
    }
    img {
      margin-left: 8px;
      animation: arrowShake 1s ease-in-out infinite;
      max-width: 20px;
      @include breakpoint(md){
        margin-left: vw(8px);
      }
      @include breakpoint(sm){
        max-width: vwm(36px) !important;
      }
    }
    &--link {
      background: none;
      color: #C08800;
      padding: 0;
      font-size: 16px;
      img {
        max-width: 20px !important;
      }
      @include breakpoint(md){
        font-size: vw(20px);
        img {
          max-width: vw(26px) !important;
        }
      }
      @include breakpoint(sm){
        font-size: vwm(26px);
        img {
          max-width: vwm(30px) !important;
        }
      }
    }
  }
  &__level {
    margin-top: 48px;
    margin-bottom: 80px;
    width: 100%;
    @include breakpoint(md){
      margin-top: vw(60px);
      margin-bottom: vw(100px);
    }
    @include breakpoint(sm){
      margin-top: vwm(60px);
      margin-bottom: vwm(100px);
    }
  }
  .splide {
    &__arrows{
      display: none;
      @include breakpoint(sm) {
        display: block;
      }
    }
    &__slide {
      display: flex;
      justify-content: center;
    }
  }
  &__box {
    border: 3px solid #000;
    max-width: 440px;
    width: 100%;
    padding: 32px;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint(md){
      border: vw(3px) solid #000;
      max-width: vw(550px);
      padding: vw(40px);
      border-radius: vw(20px);
    }
    @include breakpoint(sm){
      border: vwm(3px) solid #000;
      max-width: vwm(600px);
      padding: vwm(50px);
    }
    img {
      max-width: 240px;
      @include breakpoint(md){
        max-width:vw(240px);
      }
      @include breakpoint(sm){
        max-width: vwm(400px);
      }
    }
  }
  &__credit {
    font-size: 28px;
    color: #C09120;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.02rem;
    text-align: center;
    @include breakpoint(md){
      font-size: vw(34px);
    }
    @include breakpoint(sm){
      font-size: vwm(40px);
    }
  }
  &__creditinfo {
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    margin-top: 10px;
    @include breakpoint(md){
      font-size: vw(24px);
      margin-top: vw(12px);
    }
    @include breakpoint(sm){
      font-size: vwm(34px);
      margin-top: vwm(12px);
    }
    &--mb {
      margin: 24px 0 15px;
      @include breakpoint(md){
        margin: vw(30px) 0 vw(18px);
      }
      @include breakpoint(sm){
        margin: vwm(30px) 0 vwm(18px);
      }
    }
  }
  &__link {
    display: flex;
  }
}



.sec2 {
  &__wrapper {
    position: relative;
  }
  &__container {
    max-width: 1024px;
    margin: 126px auto 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 32px;
    @include breakpoint(md){
      margin: vw(126px) auto 0;
      padding: 0 vw(40px);
    }
    @include breakpoint(sm){
      margin: vwm(126px) auto 0;
      padding: 0 vwm(40px);
    }
  }
  &__title {
    margin-top: 17px;
    margin-bottom: 60px;
    position: relative;
    img {
      max-width: 280px;
    }
    @include breakpoint(md){
      margin-top: vw(17px);
      margin-bottom: vw(60px);
      img {
        max-width: vw(323px);
      }
    }
    @include breakpoint(sm){
      margin-top: vwm(17px);
      margin-bottom: vwm(60px);
      img {
        max-width: vwm(450px);
      }
    }
    &::after,
    &::before {
      content: "";
      position: absolute;
      background-image: url(../img/sec1/star.svg);
      background-size: contain;
      background-repeat: no-repeat;
      width: 32px;
      height: 32px;
      top: 50%;
      transform: translateY(-50%);
      @include breakpoint(md){
        width: vw(40px);
        height: vw(40px);
      }
      @include breakpoint(sm){
        width: vwm(60px);
        height: vwm(60px);
      }
    }
    &::after {
      left: 0;
      @include breakpoint(sm){
        left:vwm(-15px);
      }
    }
    &::before {
      right: 0;
      @include breakpoint(sm){
        right:vwm(-15px);
      }
    }
    h2 {
      text-indent: -999;
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      text-indent: 101%;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  &__notice {
    width: 100%;
    margin-bottom: 66px;
    &:last-child {
      margin-bottom: 133px;
    }
    @include breakpoint(md){
      margin-bottom: vw(66px);
      &:last-child {
        margin-bottom: vw(133px);
      }
    }
    @include breakpoint(sm){
      margin-bottom: vwm(80px);
      max-width: vwm(700px);
      &:last-child {
        margin-bottom: vwm(133px);
      }
    }
  }
  &__noticebtn {
    background: linear-gradient(180deg, #3A3A3A 0%, #353535 19%, #282828 36%, #121212 70%, #000000 100%);
    color: #fff;
    text-align: center;
    padding: 15px 0;
    border-radius: 20px;
    font-size: 24px;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    margin-bottom: -18px;
    @include breakpoint(md){
      padding: vw(20px) 0;
      border-radius: vw(20px);
      font-size: vw(28px);
      margin-bottom: vw(-18px);
    }
    @include breakpoint(sm){
      padding: vwm(42px) 0;
      border-radius: vwm(40px);
      font-size: vwm(42px);
      margin-bottom: vwm(-34px);
    }
    &::before {
      content: "";
      position: absolute;
      background-image: url(../img/sec2/kv2_arrow.svg);
      background-size: contain;
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
      top: calc(50% - 12px);
      right: 40px;
      transform: rotate(180deg);
      @include breakpoint(md){
        width: vw(24px);
        height: vw(24px);
        top: calc(50% - 0.45rem);
        right: vw(40px);
      }
      @include breakpoint(sm){
        width: vwm(48px);
        height: vwm(48px);
        right: vw(40px);
        top: 32%;
      }
    }
    &.active::before {
      transform: rotate(0deg);
    }
  }
  &__noticeinfo {
    display: none;
    line-height: 1.5;
    border: 3px solid #000;
    background-color: #fff;
    padding: 32px;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
    text-align: justify;
    @include breakpoint(md){
      padding: vw(40px);
      border: vw(3px) solid #000;
      border-bottom-right-radius:vw(20px);
      border-bottom-left-radius:vw(20px);
    }
    @include breakpoint(sm){
      padding: vwm(40px);
      margin-top: vwm(-36px);
      border: vwm(3px) solid #000;
      border-bottom-right-radius:vwm(40px);
      border-bottom-left-radius:vwm(40px);
      font-size: vwm(30px);
    }
    h3 {
      margin-top: 10px;
      color: #C09120;
      font-weight: 900;
      @include breakpoint(md){
        margin-top: vw(10px);
      }
      @include breakpoint(sm){
        margin-top: vwm(49px);
        margin-bottom: vwm(32px);
        font-size: vwm(36px);
      }
    }
    p {
      margin-top: 10px;
      @include breakpoint(md){
        margin-top: vw(10px);
      }
      @include breakpoint(sm){
        margin-top: vwm(49px);
        margin-bottom: vwm(32px);
        font-size: vwm(36px);
      }
    }
    ul{
      > li{
        margin-bottom: 10px;
      }
    }
  }
  &__arrow1 {
    position: absolute;
    max-width: 91px;
    right: -325px;
    top: -160px;
    animation: arrow 1s ease-in-out infinite;
  }
  &__arrow2 {
    position: absolute;
    max-width: 56px;
    left: -183px;
    top: 350px;
    animation: arrow 0.8s ease-in-out infinite;
  }
  &__arrow3 {
    position: absolute;
    max-width: 85px;
    right: -275px;
    top: 240px;
    animation: arrow 1.2s ease-in-out infinite;
  }
  &__arrow4 {
    position: absolute;
    max-width: 92px;
    left: -270px;
    top: -70px;
    animation: arrow 0.6s ease-in-out infinite;
  }
}