#header
  .container
    #header-toggle

    a.header-logo(href="https://dawho.tw/" target="_blank" rel="noopener")
      img(src="images/img_logo.svg" alt="DAWHO 品牌LOGO")


    ul.container__link
      li
        a(href="#section-task") 活動任務與登錄
      li
        a(href="#section-info") 如何帳戶連結
      li
        a(href="#section-faq") 常見問題
      li
        a(href="#section-notice") 活動辦法
      li.container__btn
        a.bling-button(href="https://applydawho.sinopac.com/OpenAccount/OpenAccount" target="_blank" rel="noopener") 我要當DAWHO
