#msg.lightbox
  .container
    .lightbox__content
      .lightbox__box
        .lightbox__body
          h5.lightbox__title 中獎名單公告

          p.lightbox__desc.lightbox__desc-center 感謝您熱情參與活動，本活動已結束！

          p.lightbox__desc 本活動已在2025年12月31日前陸續完成獎項匯入及【DAWHO首綁登錄抽AirPods Pro 3】中獎名單公告，再請中獎人留意相關訊息。

          p.lightbox__desc 感謝您對永豐銀行的支持與愛護！

          .lightbox__btnblock
            a.lightbox__btn(href='./2025-dawho-new-friends-winning-list.pdf' target='_blank' title='中獎名單' rel='noopener') 查看中獎名單
            a.lightbox__btn.lightbox__btn-close(href='javascript:;' title='關閉') 關閉本視窗

