-
    var faq_data = [
        {
          title: '完成帳戶連結就能拿到回饋嗎？',
          content: '活動任務的儲值金回饋名額有限(限量3,334名)，若提前額滿將公告於LINE Pay官方帳號貼文專區，若於活動額滿前完成綁定，就符合活動回饋資格喔！'
        },
        {
          title: '如果我有DAWHO數位帳戶，但是使用永豐銀行帳戶完成「首綁送30元儲值金」活動，是否符合「DAWHO登錄抽AirPods Pro 3」抽獎資格？',
          content: '「首綁送30元儲值金」限使用「DAWHO數位帳戶」完成，並且於2025年12月31日前完成上方的活動登錄，才算符合「DAWHO登錄抽AirPods Pro 3」的抽獎資格喔！盡情享受無現金消費的樂趣之前，記得先檢查連結的是否為DAWHO數位帳戶，才能好好消費，好好抽好禮！'
        },
        //- {
        //-   title: '我如果設定調降約定轉帳限額，請問什麼時候開始生效？',
        //-   content: '約定轉帳標準限額為單筆最高新臺幣200萬元，單日累計最高新臺幣200萬元，如雙方另有約定，則從其約定。您可以依照您日常的實際轉帳需求利用本功能自行調降單日累計約定轉帳限額。'
        //- },
        //- {
        //-   title: '我如果設定調降約定轉帳限額，請問什麼時候開始生效？',
        //-   content: '約定轉帳額度在您設定完成後將立即生效。'
        //- },
        //- {
        //-   title: '我如果設定調降約定轉帳限額，請問什麼時候開始生效？',
        //-   content: '會的，設定成功或失敗，系統都會以Email通知您，惟若您未於本行留存Email通訊地址，將無法收取Email通知。'
        //- }
    ]

