#header {
  position: fixed;
  z-index: 110;
  top: 0;
  left: 0;
  height: 64px;
  width: 100%;
  background-color: #000;
  // border-bottom: 1px solid #FFD47D;
  @include breakpoint(sm){
    height: vwm(114px);
  }
  .container {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 1200px;
    padding: 0 24px;
    margin:0 auto;
    @include b768 {
      justify-content: center;
    }
    // #header-toggle {
    //   display: none;
    //   @include b768 {
    //     display: inline-block;
    //     width: 59px;
    //     height: 59px;
    //     position: absolute;
    //     right: 0;
    //     top: 50%;
    //     transform: translateY(-50%);
    //     background-size: contain;
    //     background-repeat: no-repeat;
    //     background-position: center center;
    //     background-image: url(../img/icon_hambuger_open.svg);
    //   }
    //   &.toggled {
    //     background-image: url(../img/icon_hambuger_close.svg);
    //   }
    // }
    .header-logo {
      // outline: 2px solid red;
      display: flex;
      @include b768 {
        margin: auto;
      }
      img {
        max-width: 320px;
        @include breakpoint(sm){
          max-width: vwm(400px);
        }
      }
    }
    // nav {
    //   display: flex;
    //   margin-left: auto;
    //   height: 100%;
    //   font-size: 16px;
    //   font-weight: 500;
    //   font-stretch: normal;
    //   font-style: normal;
    //   line-height: 1.5;
    //   letter-spacing: normal;
    //   text-align: left;
    //   justify-content: center;
    //   align-items: center;
    //   @include b768 {
    //     display: none;
    //     &.toggled {
    //       display: flex;
    //       position: absolute;
    //       top: 68px;
    //       left: 0;
    //       background-color: #000;
    //       height: auto;
    //       width: 100%;
    //       &::before {
    //         content: '';
    //         position: absolute;
    //         width: 100%;
    //         height: 100vh;
    //         top: 0;
    //         left: 0;
    //         background-color: rgba(0, 0, 0, 0.9);
    //       }
    //       ul {
    //         flex-direction: column;
    //       }
    //     }
    //   }
    //   ul {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     @include b768 {
    //       position: relative;
    //       width: 100%;
    //     }
    //     li {
    //       margin-right: 53px;
    //       &:last-child {
    //         margin-right: 0;
    //       }
    //       @include b768 {
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //         width: 100%;
    //         border-bottom: 1px solid #CEB071;
    //         padding: 28px 0;
    //         margin-right: 0;

    //       }
    //       &.active, &:hover {
    //         @include b768 {
    //           a {
    //             color: $mainColor;
    //             border-bottom-color: $mainColor;
    //             transition: .3s;
    //           }
    //         }
    //       }
    //       a {
    //         border-bottom: 1px solid transparent;
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //         width: 100%;
    //         height: 100%;
    //         transition: .3s;
    //         color: #fff;
    //         font-weight: bold;
    //         &.header-acc-link {
    //           padding: 10px 32px;
    //           display: flex;
    //           border-radius: 53px;
    //         }
    //       }
    //     }
    //   }
    // }
  }
}

// .basic-btn-style {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   position: relative;
//   background: linear-gradient(150deg, #FDF9C7 0%, #F5ECB8 18%, #E1CB90 34%, #E1B97A 50%, #E8C388 84%);
//   // overflow: hidden;
//   max-width: 186px;
//   &::before {
//     content: '';
//     transition: .3s;
//     position: absolute;
//     z-index: 1;
//     top: 2px;
//     left: 2px;
//     width: calc(100% - 4px);
//     height: calc(100% - 4px);
//   }
//   span {
//     position: relative;
//     z-index: 2;
//     color: #000;
//     transition: .3s;
//     font-weight: 700;
//     display: flex;
//     align-items: center;
//     &::after {
//       content: '';
//       background-image: url(../img/icon_arrow.svg);
//       background-size: contain;
//       background-repeat: no-repeat;
//       background-position: center center;
//       display: block;
//       width: 32px;
//       height: 32px;
//       margin-left: 10px;
//     }
//   }
// }