@charset "UTF-8";



// @font-face {
//   font-family: "Noto Sans TC";
//   src: url("../font/NotoSansTC-ExtraLight.ttf") format("truetype");
//   font-weight: 200;
// }
@font-face {
  font-family: "Noto Sans TC";
  src: url("../font/NotoSansTC-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Noto Sans TC";
  src: url("../font/NotoSansTC-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Noto Sans TC";
  src: url("../font/NotoSansTC-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Noto Sans TC";
  src: url("../font/NotoSansTC-Bold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Noto Sans TC";
  src: url("../font/NotoSansTC-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Noto Sans TC";
  src: url("../font/NotoSansTC-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Noto Sans TC";
  src: url("../font/NotoSansTC-Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Manrope-Bold";
  src: url("../font/Manrope-Bold.ttf.ttf") format("truetype");
  font-weight: bold;
}


@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Bold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
}