extends _layout.pug



block content
  section.main

    .wrapper

      .wrapper__container

        //-circle
        img.cirlce1(src="./img/kv/kv_circle1.svg", alt="")
        img.cirlce2(src="./img/kv/kv_circle2.svg", alt="")
        img.cirlce3(src="./img/kv/kv_circle1.svg", alt="")
        img.cirlce4(src="./img/kv/kv_circle3.svg", alt="")
        img.cirlce5(src="./img/kv/kv_circle3.svg", alt="")

        //-star
        img.star1(src="./img/kv/kv_star1.svg" alt="")
        img.star2(src="./img/kv/kv_star1.svg" alt="")
        img.star3(src="./img/kv/kv_star1.svg" alt="")
        img.star4(src="./img/kv/kv_star2.svg" alt="")
        img.star5(src="./img/kv/kv_star1.svg" alt="")
        img.star6(src="./img/kv/kv_star1.svg" alt="")
        img.arrow(src="./img/kv/kv_arrow-yellow.svg" alt="")
        //-dot
        img.dot1(src="./img/kv/kv_dot.svg" alt="")
        img.dot2(src="./img/kv/kv_dot.svg" alt="")

        //-title
        h1.wrapper__headtitle 用會增值的心意與朋友一起當大戶!
        img.title3#title3(src="./img/kv/kv_title3.svg" alt="用會增值的心意與朋友一起當大戶!")

        h2.wrapper__headtitle 永豐金證券 股票禮品卡
        div.title4#title4
          img.title4__kv1(src="./img/kv/kv_title4.svg" alt="永豐金證券 股票禮品卡")
          img.title4__kv2#title5(src="./img/kv/kv_title6.svg" alt="永豐金證券 股票禮品卡")

        h2.wrapper__headtitle 永豐金證券 $500股票禮品卡 $1000股票禮品卡
        img.title5.js-animate.js-animate--fadein-up.js-animate--delay200(src="./img/kv/kv_title5.svg" alt="永豐金證券 $500股票禮品卡 $1000股票禮品卡")

        .wrapper__content.js-animate.js-animate--fadein-up.js-animate--delay400
          h3.wrapper__date 活動期間：即日起至 - 2026/04/07
          h3.wrapper__info 可折抵豐存股200+檔台股
            br
            | 交割款 / 手續費 / 交易稅
          a.wrapper__button(href="https://stgf.sinotrade.com.tw/?strProd=0174&strWeb=0187#open-browser" target="_blank") 了解更多
            img(src="./img/kv/kv_arrow-white.svg" alt="")


    .sec1
      .sec1__container.js-animate.js-animate--fadein-up.js-animate--delay600
        h3.sec1__title
         span 新朋友專屬
        .sec1__box
          .sec1__stock
            img(src="./img/kv/kv_stock.svg" alt="66股")
          .sec1__text.js-animate.js-animate--maskin-left.js-animate--delay800
            p.fw-600 即日起-2025/06/30
            P 完成首登任務
            p 抽
              span.fc-red.move 台積電66股
              span 等值現金
            a.sec1__button(href="https://dawho.tw/hot/touq2/?strProd=0174&strWeb=0549&tickset=SIN020&tko=Q2DTOU&utm_source=edm&utm_medium=button&utm_term=nonpaid&utm_content=na&utm_campaign=stock_giftcard_202504" target="_blank") 了解更多
              img(src="./img/kv/kv_arrow-white.svg" alt="")


