//- 注意事項區塊
section.section-notice#section-notice
  .section-notice__wrapper
    .container.js-animate.js-animate--fadein-down
      h2.section-notice__title 活動辦法

      .section-notice__content
        //- 第一段
        .section-notice__box
          .section-notice__view
            .section-notice__view-content
              ol.cjk-ideographic
                li 活動名稱：「最佳DA配 DAWHO登錄抽Apple AirPods Pro 3」活動
                li 活動期間：即日起-2025年12月31日，各項任務活動期間依下方活動說明為主。
                li 活動對象：使用永豐銀行臺幣存款帳戶連結LINE Pay Money帳戶者。(連結「定期性存款帳戶」除外)
                ol.cjk-ideographic-arc
                  li 活動期間使用永豐銀行臺幣存款帳戶連結LINE Pay Money帳戶並完成任務享以下優惠：
                  ol.decimal
                    li
                      span.fwb.mark 活動一「首綁享30元儲值金回饋」
                      | ：活動期間，使用永豐銀行任一臺幣存款帳戶首次連結LINE Pay Money帳戶，即符合30元儲值金回饋資格。活動期間每戶回饋機會限一次 (總限量3,334名)
                    li
                      span.fwb.mark 活動二「DAWHO好友推薦任務可拿NT200元」
                      | ：依「
                      a(href="https://dawho.tw/hot/2025MGM/" target="_blank" rel="noopener") 好友推薦活動
                      | 」活動網頁說明，活動至2025/12/31止。
                    li
                      span.fwb.mark 活動三「DAWHO登錄抽Apple AirPods Pro 3」
                      | ：活動期間，使用「永豐DAWHO數位帳戶」完成「活動一首綁享30元儲值金回饋」任務者，並完成活動登錄者，即符合Apple AirPods Pro 3抽獎資格。(市價新臺幣7,490元，共抽3名)*永豐銀行員工不適用本加碼抽活動*
                    p *首次連結定義：從未使用永豐銀行任一臺幣存款帳戶連結LINE Pay Money帳戶。
                    p *每一LINE Pay Money帳戶，僅能連結一個永豐銀行臺幣存款帳戶，本活動期間不得解除連結帳戶，如因此致LINE Pay Money帳戶不符合活動資格，LINE Pay及永豐銀行不予回饋及補償。
                  li 活動回饋匯入時間與抽獎時間：
                  ol.decimal
                    li 「30元儲值金」發放時間及使用期限：
                    ol.decimal-arc
                      li 本國用戶回饋儲值金將於連結永豐銀行帳戶成功24小時起陸續發放；外國用戶回饋儲值金為事後回饋，回饋儲值金將在完成連結帳戶次月第二個週五起陸續發放。
                      li 額滿訊息將公告於LINE Pay官方帳號貼文專區：
                      ol.circle-counter
                        li 請加入LINE Pay官方帳號號並解除封鎖。
                        li 開啟手機版LINE應用程式＞進入聊天室列表＞搜尋並進入「LINE Pay」官方帳號＞點選「活動額滿公告」查看是否額滿(圖片說明)。
                        li 若已跨月份或無法透過②確認時，需至LINE Pay官方帳號貼文專區查看是否有公告額滿的貼文。
                        li 若因參加活動人數踴躍遲未收到儲值金入帳，即代表已額滿，參加活動視同同意此機制，不以任何理由要求賠償。
                      li 若在收到回饋前，連結的銀行帳戶因任何原因處於已暫停使用、暫停交易、關閉狀態、解除與LINE Pay Money帳戶連結、LINE Pay Money帳戶為停用、關閉、其他異常狀態，將視同放棄回饋資格。已回饋者，LINE Pay Money(連加電子支付)有權扣回，且無法要求補發
                    li DAWHO新朋友推薦任務NT200元：請參照「
                      a(href="https://dawho.tw/hot/2025MGM/" target="_blank" rel="noopener") 好友推薦活動
                      | 」活動公告及活動注意事項。
                    li DAWHO登錄抽Apple AirPods Pro 3：
                    ol.decimal-arc
                      li 本活動抽獎資格：活動期間，使用「永豐DAWHO數位帳戶」完成首次連結LINE Pay Money帳戶，並於本活動網頁完成活動登錄。
                      li 上述兩項任務均完成方可符合抽獎資格，若僅完成一項，則不得參加抽獎。
                      li 本活動結束後，統一於2026/1/15前抽出3名中獎者並於本活動網頁公告中獎名單，將於中獎名單公告後5個工作天內，透過客戶留存於永豐銀行之電子郵件信箱通知中獎人並提供領獎申請書，中獎人需於指定期限內繳回領獎申請書，方可完成領獎程序，獎項將於2026/1/31前寄送至中獎所提供之收件地址，中獎人需於實際領到獎項前持有有效之「永豐DAWHO數位帳戶」；若未於期限內完成領獎程序，則視同放棄本活動中獎資格，不予補發，亦不另行重抽遞補。
                      li 參加本活動需同意提供相關個人基本資料以作為本活動及領獎程序使用，並候備查。參加者或中獎人資格不符合或違反本活動規定事項者，永豐銀行與LINE Pay保有取消其領獎或中獎資格之權利。
                li 注意事項：
                ol.decimal(style="padding-left:1.4em;")
                  li 參加活動資格：
                  ol.decimal-arc
                    li 本活動限持有臺灣身分證/居留證成年人、7至18歲持有臺灣身分證/居留證未成年人且可通過線上身分驗證或人工審核的使用者參加；人工審核約需5個工作日，為依照"完整"上傳證明件先後順序審核，不受理急件需求；無法提供證明文件、無法配合審核、無法等待、未在期限內上傳身分證明文件等均不得參加本活動，另有無法審核通過的可能，遇前述情形LINE Pay Money(連加電子支付)不負任何賠償責任。
                    li 開通LINE Pay Money帳戶前必須更新LINE應用程式至最新版本，且使用的智慧型手機符合「
                      a#pomp(href="https://help2.line.me/linepay_tw/sp?contentId=50010712" target="_blank" rel="noopener noreferrer") 可使用LINE Pay的手機環境
                      | 」，未符合或因手機經系統判斷安全性不足而無法進入LINE Pay Money功能時，將無法參加活動，亦不得要求賠償。
                    li 參加活動「前」請務必先確認是否已同意LINE Pay之行銷資訊提供政策(進入LINE Pay，依序點選「設定」＞「服務條款」＞「行銷資訊提供政策」，頁面上方可查看是否已同意，有打勾代表同意)，確認已勾選同意；未同意將無法獲得優惠券及儲值金，亦無法補發。
                    li 每一LINE Pay Money帳戶限回饋一次，僅能連結一個永豐銀行臺幣存款帳戶。於活動期間完成連結帳戶後至發放活動儲值金回饋，期間不得解除連結帳戶，並務必維持LINE Pay及LINE Pay Money帳戶為正常使用狀態，如因解約、暫停使用、關閉帳戶或其他異常狀態等，將喪失回饋資格，致LINE Pay Money帳戶不符合活動資格，LINE Pay及永豐銀行不予回饋及補償。
                    li 參與對象需完成註冊成為LINE Pay Money會員且僅能連結一個永豐銀行臺幣存款帳戶，限連結臺幣存款帳戶及數位存款臺幣帳戶，帳戶狀況需為正常戶，且客戶留存於永豐銀行臺幣存款帳戶之手機號碼需與LINE Pay Money會員留存手機號碼一致，並於永豐銀行臺幣存款帳戶資料需有留存Email資訊。
                    li 符合活動資格者，必須維持LINE Pay Money會員帳戶及永豐銀行臺幣存款帳戶為正常使用狀態，若已失效解約、暫停使用、關閉帳戶、解除連結或其他異常狀態，或於發送活動回饋前不符合任一條件，將喪失回饋資格。
                  li
                    span.fwb.mark 首綁享30元儲值金
                    | 詳細說明：
                  ol.decimal-arc
                    li 活動期間，使用永豐銀行臺幣存款帳戶首次連結LINE Pay Money成功，始符合回饋資格，如用戶於2025年12月10日使用永豐銀行臺幣存款帳戶首次連結LINE Pay Money，需於2025年12月31日前均不得解除連結，方可符合回饋資格。
                    li 活動期間每一LINE Pay Money帳戶回饋上限為30元儲值金，活動期間總限量3,334名，額滿為止，回饋資格由永豐銀行及LINE Pay系統判定為準。額滿與否之認定，敬請自行前往LINE Pay查詢額滿公告之資訊，請視情況評估參與。(本國用戶回饋上限99,720元，外國用戶回饋上限300元，發完為止。)
                    li 如遇本活動提前額滿，則用戶之首次連結與回饋條件均計算至公告額滿時間為止，例如：若本活動於2025年12月15日15：00提前額滿，則符合回饋資格者之連結成功期間截止於2025年12月15日15:00，如A用戶於2025年12月15日15：01首次連結LINE Pay電支帳戶，仍不符合回饋資格。
                  li
                    span.fwb.mark DAWHO登錄抽Apple AirPods Pro 3
                    | 詳細說明：
                  ol.decimal-arc
                    li 活動期間，使用「永豐DAWHO數位帳戶」首次連結LINE Pay Money成功，並完成活動登錄，始符合抽獎資格；如使用永豐銀行實體臺幣存款帳戶，則不符合抽獎資格。
                    li 如用戶於2025年12月10日完成活動登錄，需於2025年12月31日前使用「永豐DAWHO數位帳戶」完成首次連結LINE Pay Money，方可符合抽獎資格。
                    li 若活動中獎人於活動獎項贈與前將「永豐DAWHO數位帳戶」結清銷戶或解除與LINE Pay Money連結，則失去本活動中獎資格，亦不另行重抽遞補。


                  li 依中華民國稅法相關規定，活動參與者自本活動所獲得的回饋儲值金屬於其他所得，LINE Pay Money(連加電子支付)將按下列規定列單申報：
                  ol.decimal-arc
                    li 活動參與者如為中華民國境內居住的個人，全年回饋價值若超過新臺幣1,000元整，年度報稅時將計入個人所得及開立扣(免)繳憑單。
                    li 活動參與者如為非中華民國境內居住的個人，則LINE Pay Money(連加電子支付)一律逕代扣 20%所得稅後方行回饋。依所得稅法第94-1條規定， LINE Pay Money(連加電子支付)得不寄送扣(免)繳憑單予活動參與者。

                  li 因LINE Pay Money帳戶成年人儲值上限為新臺幣5萬元，7歲以上未滿18歲未成年人儲值上限為新臺幣1萬元；若帳戶儲值限額已達上限金額將無法發送儲值金，遇此情形時需提領帳戶餘額至低於上限金額即可觸發補發條件，補發時間為每週五(遇假日順延)。惟如活動結束後次月的第二個週五前，仍因超過儲值餘額上限致未能完成補發，將視同放棄回饋，不得有異議。
                  li 本活動資格不得轉讓予他人，變更回饋內容或折換現金等。
                  li 永豐銀行及LINE Pay保留隨時修改、變更、終止或暫停本活動及替換其他等值品項權利，若有其他未盡事宜，以本活動網站公告為主。
                  li 如有任何因電腦、網路、電話、技術或其他之不可歸責於永豐銀行及LINE Pay之事由，而使參加者所提供之資料有遺失、錯誤、無法辨識或毀損等情況，永豐銀行與LINE Pay不負任何法律責任，參加者亦不得因此異議。
                  li 永豐銀行及LINE Pay有權檢視各項交易紀錄，若參加者有違反本活動注意事項之行為或涉及不正當得利及非法行為，永豐銀行及LINE Pay除公告排除參與活動及回饋資格外，並對任何破壞活動之行為保留法律追訴權。詳細活動內容及注意事項以主辦單位(永豐銀行、LINE Pay)官方網站公告為準，主辦單位保留本活動所有事宜之最終解釋之權利，並可隨時變更、取消、終止或暫停本活動及替換其他獎項。
                  li 依中華民國「所得稅法」規定，中獎人如為中華民國境內居住之個人，競技競賽及機會中獎年度累積金額(價值)超過新臺幣1,000元者，將併入中獎人個人年度綜合所得稅申報，中獎金額超過新臺幣20,000元時，需預先扣繳10%所得稅；中獎人如非中華民國境內居住之個人，無論中獎金額多寡，一律預先按中獎金額扣繳20%，並於代扣稅款十日內辦理扣繳憑單申報。若中獎人不願提供相關資料或未繳納應繳稅額導致無法領取活動贈品等相關事宜者，即視為自動放棄回饋資格，事後不得再提出其他任何要求。
                  li 個資告知事項：本活動參加者瞭解及同意永豐銀行為行銷及辦理本活動之需要進行蒐集、處理及利用其個人資料。永豐銀行本於誠實信用原則及必要性原則蒐集、處理或利用參加者於本網路登載及基於上開特定目的與永豐銀行往來之個人資料。請詳閱「
                    a(href="https://apply.sinopac.com/applyweb/QuickAccount/html/05_%E5%80%8B%E8%B3%87%E6%B3%95%E5%91%8A%E7%9F%A5%E7%BE%A9%E5%8B%99_2025.07.pdf?_sasdk=dMTk3YmY4ODJjMmQxZGQtMDVhZTg3OGNkMTRiODA0LTRjNjU3YjU4LTkyMTYwMC0xOTdiZjg4MmMyZTVmZg" target="_blank" rel="noopener noreferrer") 永豐銀行個人資料蒐集、處理及利用告知義務內容
                    | 」。參加本活動即代表已詳細閱讀、了解並同意遵守永豐銀行及LINE Pay服務條款及上述活動規則，不得以任何理由要求補發活動回饋；此外，一旦發現有用戶以任何方式違反服務條款或活動公平原則的行為，永豐銀行及LINE Pay有權取消該用戶活動資格並回收已發放的回饋。
                  li 本抽獎活動之參加者限居住於臺、澎、金、馬地區之本國自然人參加，資料若有不實，將取消其參加及回饋資格，永豐銀行保留審核參加者參加資格之權利。
                  li 如對本活動有任何疑問與建議，請依照以下問題分類尋求協助：
                    p(style="margin-left:1em") 永豐銀行帳戶問題：請電洽永豐銀行24小時客服專線：02-2505-9999 / 0203-08989，我們將盡速回覆。
                    p(style="margin-left:1em") LINE Pay Money交易問題：請洽LINE Pay Money帳戶客服中心詢問：客服專線02-77506350(非免付費，請多利用線上表單)或線上填寫「
                      a#pomp(href="https://contact-cc.line.me/category1Id/15769" target="_blank" rel="noopener noreferrer") 問題反映表單
                      | 」。

    //- 注意事項區塊內
    //-.container#notice
      .section-notice__container
        //- 信貸注意事項
        //-.section-notice__box.js-animate.js-animate--fadein-down
          .section-notice__view.section-notice__view--mt
            h3.section-notice__title 信貸注意事項
            .section-notice__view-content
              ol.decimal
                li 總費用年百分率範例：貸款金額新臺幣30萬元，五年期，貸款年利率：機動利率2.50%~14.60%，各項相關費用總金額：新臺幣0元~9,000元，總費用年百分率2.50%~15.99%，總費用年百分率不等於貸款利率。本總費用年百分率之計算基準日為2025年8月21日。
                li 前述機動利率之計算方式I+0.79%~12.89%，「I」係指永豐銀行個人金融放款產品指標利率(月調)，依以十大行庫一年期定儲固定利率之平均數與永豐銀行一年期定儲牌告固定利率，採孰低者訂之，「I」目前為 1.71%，計算基準日為2025年8月21日。
                li 本廣告揭露之年百分率係按主管機關備查之標準計算範例予以計算，實際貸款條件，仍以銀行提供之產品為準。且每一客戶實際之年百分率仍視其個別貸款產品及授信條件而有所不同。
                li 前三期只繳息免還本之寬限期還款方式，申貸每萬元，日付1元起。試算案例以貸款金額新臺幣30萬元，一段式年利率2.5%，貸款期限5年試算而得，實際月付金額將依貸款金額與適用年利率計算為準。
                li 本貸款還款方式採按月平均攤還本息。
                li 提前清償違約金：【限制清償期間為自借款撥款日起 12 個月(含)以上者適用】
                ol.decimal-arc
                  li 於限制清償期間清償全部或部分借款，需依提前清償本金乘上違約金比率計付提前清償違約金。
                  li 違約金比率︰自借款撥款日起算6個月內提前清償者，按提前清償本金金額之4%計收；自借款撥款日起算第7個月起至限制清償期間止日內提前清償者，按提前清償本金金額之3%計收。提前清償違約金計算方式依個別約定書約定為準。
                li 永豐銀行另有提供無限制清償期間之貸款方案，詳情請洽永豐銀行貸款專員。
                li 永豐銀行保有核貸與否及核決貸放金額、利率之權利，同時保留調整產品規格、申貸期限及其他相關規定之權利，實際內容以永豐銀行最新公告為準。申貸所需之條件、資料及實際核准利率，綁約條件等產品內容，視個別情況有所不同。
                li 【防詐騙提醒】如個人有貸款需求，請逕與永豐銀行洽詢辦理，切勿委託或找代辦業者，以免損害自身權益，並小心來路不明簡訊及詐騙 LINE ID、釣魚網站等。若接獲要求轉帳「先支付代辦費、服務費、高額報酬或風險保證金」，此非永豐銀行辦理規定，切勿受騙，並可撥打永豐銀行客服或內政部警政署165 反詐騙諮詢專線通報。
                li 永豐銀行DAWHO信貸詳細產品內容及注意事項詳
                  a.text-link(href="https://dawho.tw/about/personalloan/", target="_blank", rel="noopener") 網站
                  | 。
                li 永豐銀行營業據點請至
                  a.text-link(href="https://bank.sinopac.com/MMA8/CustomerService/BranchService/branch.html?_sasdk=dMTk4YmJiNTcyOWYxNjQ4LTAwMmRkY2JlMzEwNWQ0NS00YzY1N2I1OC0yMDczNjAwLTE5OGJiYjU3MmEwZDI3", target="_blank", rel="noopener") 網站
                  | 查詢。

      //- 閱讀更多
      //- .js-animate
      //-   a.notice__toggle(href="javascript:;", title="")
      //-     .notice__icon
